<?php
    // emit some headers
    header('Pragma: no-cache, no-store');
    header('Cache-Control: no-store, no-cache, must-revalidate');
    header('Cache-Control: post-check=0, pre-check=0', false);
    header("Last-Modified: " . gmdate("D, d M Y H:i:s") . " GMT");
    header("Expires: " . gmdate("D, d M Y H:i:s") . " GMT");

    $salt = "<%= download_salt %>";
    $cipher = "<%= download_cipher %>";
    $token = $_POST["token"];

    if (is_null($token)) {
        header($_SERVER["SERVER_PROTOCOL"]." 404 Not Found");
        exit;
    }

    $ivSize = openssl_cipher_iv_length($cipher);
    $iv = substr($token, 0, $ivSize);
    $fName = openssl_decrypt(substr($token, $ivSize), $cipher, $salt, 0, $iv);

    echo '<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      lang="en">
  <HEAD>
    <TITLE>Downloading file ' . basename($fName) . '</TITLE>

    <meta http-equiv="cache-control" content="no-store, no-cache, must-revalidate" />
    <meta http-equiv="Pragma" content="no-store, no-cache" />
    <meta http-equiv="Expires" content="0" />

    <meta name="robots" content="noindex,nofollow,noarchive" />
    <meta name="bu" content="CORP" />
    <meta name="description" content="Project Trafodion is a joint HP Labs / HP-IT research project to develop operational SQL-on-Hadoop software." />
    <meta name="hp_design_version" content="hpweb.1.2a" />
    <meta name="keywords" content="trafodion, Hadoop, Hive, HBase, SQL, database, transactional SQL" />
    <meta name="lifecycle" content="presales.consideration" />
    <meta name="page_content" content="Products" />
    <meta name="segment" content="Segment Neutral" />
    <meta name="target_country" content="us" />
    <meta name="web_section_id" content="R11824" />

    <script type="text/javascript" src="http://status.<%= domain %>/common.js"></script>
    <script type="text/javascript">
    /* <![CDATA[ */
        function downloadNow() {
            var iframe;
            try {
                iframe = document.createElement(\'<iframe name="fileUploaderEmptyHole">\');
            } catch (ex) {
                iframe = document.createElement("iframe");
            }
            iframe.id = "download-iframe";
            iframe.name = "download-iframe";
            iframe.width = 0;
            iframe.height = 0;
            iframe.marginHeight = 0;
            iframe.marginWidth = 0;
            document.getElementById("dForm").submit();
        }

        window.onload = function() {
            window.setTimeout(downloadNow, 1000);    // 1 second in milliseconds
        };
    /* ]]> */
    </script>

    <!-- Google Fonts -->
    <link href="http://fonts.googleapis.com/css?family=PT+Sans&amp;subset=latin" rel="stylesheet" type="text/css"/>

    <!-- Framework CSS -->
    <link rel="stylesheet" href="http://status.<%= domain %>/themes/trafodion/css/blueprint/screen.css" type="text/css" media="screen, projection"/>
    <link rel="stylesheet" href="http://status.<%= domain %>/themes/trafodion/css/blueprint/print.css" type="text/css" media="print"/>

    <!-- IE CSS -->
    <!--[if lt IE 8]><link rel="stylesheet" href="http://status.<%= domain %>/themes/trafodion/css/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->

    <!-- Trafodion Specific CSS -->
    <link rel="stylesheet" href="http://status.<%= domain %>/themes/trafodion/css/dropdown.css" type="text/css" media="screen, projection, print"/>

    <!-- Page Specific CSS -->
    <link rel="stylesheet" href="http://status.<%= domain %>/themes/trafodion/css/home.css" type="text/css" media="screen, projection, print"/>
    <link rel="stylesheet" type="text/css" href="http://status.<%= domain %>/themes/trafodion/css/main.css" />
    <style type="text/css">
        #blurb-container {
            max-width: 950px;
            margin: 0 auto;
        }
    </style>

    <!-- Begin Analytics Code -->
    <script language="JavaScript">
        var hpmmd=window.hpmmd||{type: \'Cleansheet Wash\', page:{events:[]},
        product:{},user:{},legacy:{},promo:{}};
        hpmmd.page.name=\'Trafodion file download : ' . $fName . '\';
        hpmmd.page.section=\'R11824\';
        // other optional metrics variables go here
    </script>
    <script language="JavaScript" type="text/javascript"
        src="http://www8.hp.com/h10000/cma/ng/lib/bootstrap/metrics.js">
    </script>

    <!-- End Analytics Code -->

  </HEAD>

  <BODY>
    <script type="text/javascript">header("Downloads");</script>

    <div id="blurb-container">
    <h1>Downloading file ' . basename($fName) . '. <br />Please wait a minute for your download to begin ...</h1>

    <div id="message-container">
        <div class="container">
            <div class="span-24 last">
                <p id="message"/>
                </p>
            </div>
        </div>
    </div>
    <form id="dForm" action="getfile.php" target="download-iframe" method="post">
      <input type="hidden" name="token" value="' . $token . '" />
    </form>
  </BODY>
</html>';
?>

