<?php
    header('Pragma: no-cache, no-store');
    header('Cache-Control: no-store, no-cache, must-revalidate');
    header('Cache-Control: post-check=0, pre-check=0', false);
    header("Last-Modified: " . gmdate("D, d M Y H:i:s") . " GMT");
    header("Expires: " . gmdate("D, d M Y H:i:s") . " GMT");
?>

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>Trafodion Downloads</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />

    <script type="text/javascript" src="http://status.<%= domain %>/common.js"></script>
    <script type="text/javascript" src="http://status.<%= domain %>/jquery.min.js"></script>
    <script type="text/javascript">
    /* <![CDATA[ */
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create','UA-52287605-1','auto');ga('send','pageview');
      $(document).ready(function(){$(".postlink").postlink();});
      (function($){$.fn.extend({postlink:function(){return this.each(function() {
      $(this).click(function(e){var arr = $(this).attr('data-f').split('/');
      ga('send','event','downloads',$(this).attr('data-f'),arr[0],1);var frm = $("<form>");
      frm.attr({'action':'http://cdn.<%= domain %>/'+$(this).attr('data-f'),'method':'get'});
      frm.appendTo("body");setTimeout(function(){frm.submit();},400);e.preventDefault();});});}});})(jQuery);
    /* ]]> */
    </script>

    <!-- Google Fonts -->
    <link href="http://fonts.googleapis.com/css?family=PT+Sans&amp;subset=latin" rel="stylesheet" type="text/css" />
    <!-- Framework CSS -->
    <link rel="stylesheet" href="http://status.<%= domain %>/themes/trafodion/css/blueprint/screen.css" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="http://status.<%= domain %>/themes/trafodion/css/blueprint/print.css" type="text/css" media="print" />
    <!-- IE CSS -->
    <!--[if lt IE 8]><link rel="stylesheet" href="http://status.<%= domain %>/themes/trafodion/css/blueprint/ie.css" type="text/css" media="screen, projection" /><![endif]-->
    <!-- Page Specific CSS -->
    <link rel="stylesheet" type="text/css" href="http://status.<%= domain %>/themes/trafodion/css/main.css" />
    <style type="text/css">
        a, a:link {
            color: #204A87;
        }
        li.empty {
            list-style-type: none;
        }
    </style>
  </head>
  <body>
    <script type="text/javascript">header('Downloads');</script>
    <div class="container">
    <h1>Trafodion Downloads</h1>
    <div id="message-container">
        <div class="container">
            <div class="span-12 last">
                <p id="message">
                </p>
            </div>
        </div>
    </div>
    <?php
        /**
         * Callback function to match release items
         *
         * @param string $var   Path to file.
         */
        function release($var) {
            if (substr($var, 0, strlen("release/")) === "release/") {
                return true;
            }
        }

        /**
         * Callback function to match old-release items
         *
         * @param string $var   Path to file.
         */
        function oldrelease($var) {
            if (substr($var, 0, strlen("old-release/")) === "old-release/") {
                return true;
            }
        }

        /**
         * Callback function to match pre-release items
         *
         * @param string $var   Path to file.
         */
        function prerelease($var) {
            if (substr($var, 0, strlen("pre-release/")) === "pre-release/") {
                return true;
            }
        }

        /**
         * Callback function to match daily items
         *
         * @param string $var   Path to file.
         */
        function daily($var) {
            if (substr($var, 0, strlen("daily/")) === "daily/") {
                return true;
            }
        }

        /**
         * Callback function to match opencart items
         *
         * @param string $var   Path to file.
         */
        function opencart($var) {
            if (substr($var, 0, strlen("opencart/")) === "opencart/") {
                return true;
            }
        }

        /**
         * Callback function to match sandbox items
         *
         * @param string $var   Path to file.
         */
        function sandbox($var) {
            if (substr($var, 0, strlen("sandbox/")) === "sandbox/") {
                return true;
            }
        }

        /**
         * Callback function to print links to files.
         *
         * @param string $item   The absolute path to a file or empty for blank line
         * @param string $key    Array key. Inferred usage via array_walk.
         * @param string $rType  Release type. Should match the subdirectory name under 
         *                       the trafodion/publish subdirectory. If rType is equal 
         *                       to "empty_list" then an empty list will be printed 
         *                       instead of a list of files.
         */ 
        function print_links($item, $key, $rType) {
            if ($rType != "empty_list") {
                $shortFname = basename($item);
                $fName = $item;
                if ($fName != "empty") {
                    echo '<li><a class="postlink" href="#" target="_blank" data-f="' . $fName . '">' . $shortFname . '</a></li>' . PHP_EOL;
                } else {
                    echo '<li class="empty">&nbsp;</li>' . PHP_EOL;
                }
            } else {
                echo '<li class="empty">&nbsp;</li>' . PHP_EOL;
            }
        }


        #
        # main
        #

        $scriptPath = __DIR__;

        # include HTTPFUL PHP REST Library
        include ($scriptPath . '/lib/httpful.phar');

        $swiftUser = '<%= cloud_auto_user %>';
        $swiftPassword = '<%= cloud_auto_passwd %>';
        $projectId = '10370712109815';
        $tokenURI = 'https://region-a.geo-1.identity.hpcloudsvc.com:35357/v3/auth/tokens';
        $getSwiftURI = 'https://region-a.geo-1.objects.hpcloudsvc.com/v1/10370712109815/trafcdn';

        # generate JSON for fetching getting authentication token
        $tokenJson =  '{"auth":{"identity":{"methods":["password"],"password":{"user":{"name":"' . $swiftUser 
                      . '","password":"' . $swiftPassword . '"}}},"scope":{"project":{"id":"' . $projectId . '"}}}}';

        # get authentication token
        $tokenResponse = \Httpful\Request::post($tokenURI)
                         ->sendsJson()
                         ->body($tokenJson)
                         ->send();
        $token = $tokenResponse->headers['x-subject-token'];

        # override default JSON handler with one that encodes the results as an array
        # this will apply to all new requests
        \Httpful\Httpful::register(\Httpful\Mime::JSON, new \Httpful\Handlers\JsonHandler(array('decode_as_array' => true)));

        # get list of all files in trafcdn
        $releaseResponse = \Httpful\Request::get($getSwiftURI)
                           ->expectsJson()
                           ->addHeader('X-Auth-Token', $token)
                           ->send();

        # parse releaseResponse into an array but exclude all directories like opencart, release, etc.
        $tCdnArray = array();
        foreach ($releaseResponse->body as $releaseItem) {
            if (preg_match('/^.*\.[^\W_]{2,}$/', $releaseItem['name'])) {
                $tCdnArray[] = $releaseItem['name'];
            }
        }

        # natural sort the generated array then reverse it
        natsort($tCdnArray);
        $cdnArray = array_reverse($tCdnArray);

        # Create array for releases
        echo '<div class="span-8">' . PHP_EOL;
        echo '    <h2 class="subhead">Current Release</h2>' . PHP_EOL;
        echo '    <p><ul>' . PHP_EOL;
        $releaseArray = array_filter($cdnArray, "release");
        array_walk($releaseArray, 'print_links', 'release');
        echo '    </ul></p>' . PHP_EOL;
        echo '</div>' . PHP_EOL;

        # Create array for previous releases
        # If oldreleaseArray is empty print empty links using releaseArray which comes right before it.
        # If oldreleaseArray is smaller than releaseArray then pad oldreleaseArray before printing. 
        # NOTE: Printing empty links preserves the layout of the page.
        echo '<div class="span-8">' . PHP_EOL;
        echo '    <h2 class="subhead">Previous Releases</h2>' . PHP_EOL;
        echo '    <ul>' . PHP_EOL;
        $oldreleaseArray = array_filter($cdnArray, "oldrelease");
        if (sizeof($oldreleaseArray) === 0) {
            array_walk($releaseArray, 'print_links', 'empty_list');
        } else if (sizeof($oldreleaseArray) >= sizeof($releaseArray)) {
            array_walk($oldreleaseArray, 'print_links', 'old-release');
        } else {
            # pad prereleaseArray to size of releaseArray
            $arraySizeDiff = sizeof($releaseArray) - sizeof($oldreleaseArray);
            for ($i = 1; $i <= $arraySizeDiff; $i++) {
                $oldreleaseArray[] = 'empty';
            }
            array_walk($oldreleaseArray, 'print_links', 'old-release');
        }
        echo '    </ul>' . PHP_EOL;
        echo '</div>' . PHP_EOL;

        # Create array for pre-release
        # If prereleaseArray is empty print empty links using oldreleaseArray which comes right before it.
        # If prereleaseArray is smaller than oldreleaseArray then pad prereleaseArray before printing. 
        # NOTE: Printing empty links preserves the layout of the page.
        echo '<div class="span-8 last">' . PHP_EOL;
        echo '    <h2 class="subhead">Pre-Release</h2>' . PHP_EOL;
        echo '    <ul>' . PHP_EOL;
        $prereleaseArray = array_filter($cdnArray, "prerelease");
        if (sizeof($prereleaseArray) === 0) {
            array_walk($oldreleaseArray, 'print_links', 'empty_list');
        } else if (sizeof($prereleaseArray) >= sizeof($oldreleaseArray)) {
            array_walk($prereleaseArray, 'print_links', 'pre-release');
        } else {
            # pad prereleaseArray to size of oldreleaseArray
            $arraySizeDiff = sizeof($oldreleaseArray) - sizeof($prereleaseArray);
            for ($i = 1; $i <= $arraySizeDiff; $i++) {
                $prereleaseArray[] = 'empty';
            }
            array_walk($prereleaseArray, 'print_links', 'pre-release');
        }
        echo '    </ul>' . PHP_EOL;
        echo '</div>' . PHP_EOL;

        # Create array for daily
        echo '<div class="span-8">' . PHP_EOL;
        echo '    <h2 class="subhead">Daily</h2>' . PHP_EOL;
        echo '    <ul>' . PHP_EOL;
        $dailyArray = array_filter($cdnArray, "daily");
        array_walk($dailyArray, 'print_links', 'daily');
        echo '    </ul>' . PHP_EOL;
        echo '</div>' . PHP_EOL;

        # Create array for OpenCart
        echo '<div class="span-8">' . PHP_EOL;
        echo '    <h2 class="subhead">OpenCart Demo</h2>' . PHP_EOL;
        echo '    <ul>' . PHP_EOL;
        $opencartArray = array_filter($cdnArray, "opencart");
        array_walk($opencartArray, 'print_links', 'opencart');
        echo '    </ul>' . PHP_EOL;
        echo '</div>' . PHP_EOL;

        # Create array for Sandbox
        echo '<div class="span-8 last">' . PHP_EOL;
        echo '    <h2 class="subhead">Sandbox</h2>' . PHP_EOL;
        echo '    <ul>' . PHP_EOL;
        $sandboxArray = array_filter($cdnArray, "sandbox");
        array_walk($sandboxArray, 'print_links', 'sandbox');
        echo '    </ul>' . PHP_EOL;
        echo '</div>' . PHP_EOL;

    ?>
    </div> <!-- End div class"container" -->
    <script type="text/javascript">footer();</script>
  </body>
</html>
