<?php
    header('Cache-Control: public, max-age=300, s-maxage=300, must-revalidate, proxy-revalidate');
    header("Last-Modified: " . gmdate("D, d M Y H:i:s") . " GMT");
?>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      lang="en">
  <HEAD>
    <TITLE>Trafodion Documentation</TITLE>

    <meta http-equiv="cache-control" content="public, max-age=300, s-maxage=300, must-revalidate, proxy-revalidate" />

    <meta name="robots" content="index,nofollow,noarchive" />
    <meta name="bu" content="CORP" />
    <meta name="description" content="Project Trafodion is a joint HP Labs / HP-IT research project to develop operational SQL-on-Hadoop software." />
    <meta name="hp_design_version" content="hpweb.1.2a" />
    <meta name="keywords" content="trafodion, Hadoop, Hive, HBase, SQL, database, transactional SQL" />
    <meta name="lifecycle" content="presales.consideration" />
    <meta name="page_content" content="Products" />
    <meta name="segment" content="Segment Neutral" />
    <meta name="target_country" content="us" />
    <meta name="web_section_id" content="R11824" />

    <script type="text/javascript" src="http://status.<%= domain %>/common.js"></script>
    <!-- Google Fonts -->
    <link href="http://fonts.googleapis.com/css?family=PT+Sans&amp;subset=latin" rel="stylesheet" type="text/css">
    <!-- Framework CSS -->
    <link rel="stylesheet" href="http://status.<%= domain %>/themes/trafodion/css/blueprint/screen.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="http://status.<%= domain %>/themes/trafodion/css/blueprint/print.css" type="text/css" media="print">
    <!-- IE CSS -->
    <!--[if lt IE 8]><link rel="stylesheet" href="http://status.<%= domain %>/themes/trafodion/css/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
    <!-- OpenStack Specific CSS -->
    <link rel="stylesheet" href="http://status.<%= domain %>/themes/trafodion/css/dropdown.css" type="text/css" media="screen, projection, print">
    <!-- Page Specific CSS -->
    <link rel="stylesheet" href="http://status.<%= domain %>/themes/trafodion/css/home.css" type="text/css" media="screen, projection, print">
    <link rel="stylesheet" type="text/css" href="http://status.<%= domain %>/themes/trafodion/css/main.css">
    <style type="text/css">
        #blurb-container {
            max-width: 950px;
            margin: 0 auto;
        }
        .blurb {
            float: left;
            width: 25em;
            padding: 4px;
        }
        a:link {
            color: #204A87;
        }
    </style>

    <!-- Begin Analytics Code -->

    <script language="JavaScript">
        var hpmmd=window.hpmmd||{type: \'Cleansheet Wash\', page:{events:[]},
        product:{},user:{},legacy:{},promo:{}};
        hpmmd.page.name='Trafodion Documentation';
        hpmmd.page.section='R11824';
        // other optional metrics variables go here
    </script>
    <script language="JavaScript" type="text/javascript"
        src="http://www8.hp.com/h10000/cma/ng/lib/bootstrap/metrics.js">
    </script>

    <!-- End Analytics Code -->

  </HEAD>
  <BODY>
    <script type="text/javascript">header('Documentation');</script>
    <div id="blurb-container">
    <h1>Trafodion Documentation</h1>
    <div id="message-container">
        <div class="container">
            <div class="span-24 last">
                <p id="message"/>
                For a more detailed description of the documents listed here please see the Documentation section of the <a href="https://wiki.trafodion.org/wiki/index.php/Documentation">Trafodion Wiki</a>
                </p>
            </div>
        </div>
    </div>
    <?php
        // function to scan directory
        function scanDirectory($dir, $onlyFiles = false, $fullPath = false) {
            $pattern = '/(robots\.txt$|index\..*)/';
            if (isset($dir) && is_readable($dir)) {
                $dlist = Array();
                $dir = realpath($dir);
                if ($onlyFiles) {
                    $objects = new RecursiveIteratorIterator(new RecursiveDirectoryIterator($dir, RecursiveDirectoryIterator::SKIP_DOTS));
                } else {
                    $objects = new RecursiveIteratorIterator(new RecursiveDirectoryIterator($dir, RecursiveDirectoryIterator::SKIP_DOTS), RecursiveIteratorIterator::SELF_FIRST);
                }

                foreach($objects as $entry => $object) {
                    if (!$fullPath) {
                        $entry = str_replace($dir, '', $entry);
                    }
                    $dlist[] = $entry;
                }

                $mlist = preg_grep($pattern, $dlist, PREG_GREP_INVERT);
                return $mlist;
            }
        }

        // callback function to print links to files
        function print_links($item, $key) {
            if (is_file($item) === true) {
                $shortFname = basename($item);
                list($z, $shortPath) = split('/docs/', $item);
                echo '<li><a class="postlink" href="' . $shortPath . '">' . $shortFname . '</a></li>' . PHP_EOL;
            }
        }

        #
        # main
        #
        $scriptPath = __DIR__;
        $wPath = realpath($scriptPath);

        // call scanDirectory function to iterate through directory structure
        $fArray = scanDirectory($wPath, true, true);
        natsort($fArray);

        // create array for release
        echo '<div class="blurb">' . PHP_EOL;
        echo '    <h2 class="subhead">Release</h2>' . PHP_EOL;
        echo '    <p><ul>' . PHP_EOL;
        array_walk($fArray, 'print_links');
        echo '    </ul></p>' . PHP_EOL;
        echo '</div>' . PHP_EOL;
    ?>

    </p></div>
    <script type="text/javascript">footer();</script>
  </BODY>
</html>

